body {
    background-image: linear-gradient(to right, #261f21, #b20a2c);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
}
.hline {
color:rgb(144, 129, 129);
}
.empty{
color:rgb(233, 228, 228); 
font-size: 0.8rem;
}
.timer {
    color:rgb(233, 228, 228);
    font-size: 2rem;
}
.min {
    height: 1rem;
    position: relative;
    right: 6rem;
    top: 0.66rem;
}
.input {
    font-weight: bold;
    border:3px solid rgb(144, 129, 129);
    border-radius: 5px;
    
    
}